.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.container {
  position: absolute;
  padding: 0 10px;
  width: 400px;
  top: 75px;
  right: 0;
  height: 100%;
  background-color: var(--bg-primary);
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.activeOverlay {
  visibility: visible;
}

.activeOverlay .container {
  transform: translateX(0);
}

/* staer-loader */

.overlayaction {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--text-fetch);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: all;
}

.halfCircleLoader {
  width: 55px;
  height: 55px;
  border: 3px solid transparent;
  border-right-color: var(--color-primary); 
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* end-loader */

.close {
cursor: pointer;
  background-color: var(--bg-primary);
  border-radius: 10px 0 0 10px;
  align-content: center;
  width: 43px;
  height: 99px;
  font-size: 27px;
  font-weight: 700;
  transition: all .4s ease-in-out;
  position: absolute;
  top: 50%;
  left: -43px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.4s;
}
.imageGallery {
  grid-template-columns: 192px 1fr;
  align-items: start;
  gap: 2px;
  width: 100%;
  display: grid;
  position: relative;
  margin-bottom: 20px;
}

.mainImage {
  width: 190px;
  height: 190px;
  object-fit: cover;
  background: var(--bg-primary);
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productName {
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-right: 25px;
  font-size: 20px;
}
.productName:hover{
  text-decoration: underline;
}

.price {
  font-weight: 700;
  margin-bottom: 30px;
  margin-right: 1rem;
  color: var(--color-primary);
}

.oldPrice {
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--color-secondary);
  text-decoration: line-through;
}

/* 3. تفاصيل المقاس والكمية واللون */
.sizeSection {
  font-size: 13px;
  color: var(--color-secondary);
  margin: 2px 0;
}

/* كلمة "Only 1 Left" باللون الأحمر */
.colors_available {
  font-size: 1.2rem;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 10px;
}
.smil_image {
  display: flex;
  gap: 5px;
}
.sizeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 5px;
  margin-bottom: 30px;
}
.sizeSection {
  margin-top: 10px;
}

.sizeBox {
  border: 1px solid var(--border-color);
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--color-primary);
}

.sizeBox:hover {
  border-color: var(--color-primary);
  font-weight: bold;
}
.activeSize {
  background-color: var(--color-primary);
  color: var(--bg-main);
  border-color: var(--color-primary);
}
.addToCartBtn {
  position: relative;
  flex: 1;
  background-color: var(--color-primary);
  color: var(--color-main);
  border: none;
  padding: 18px;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.addToCartBtn::before {
  content: "";
  border: 1px solid var(--color-primary);
  width: 100%;
  height: 53px;
  display: block;
  position: absolute;
  bottom: -3px;
  right: -3px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: stretch;
}
.wishlistBtn {
  background: var(--color-prim);
  border: 1px solid var(--color-primary);
  cursor: pointer;
  width: 55px;
  color: var(--color-primary);
  font-size: 20px;
}

.trustSection {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trustItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
  font-family: "Inter", sans-serif;
}

/* 6. الأزرار الكبيرة (View Bag & Checkout) */
.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.viewCartBtn,
.checkoutBtn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;
}
