.profileWrapper {
  background-color: var(--bg-primary);
  min-height: 100vh;
  margin-top: 50px;
}

.sideCard,
.mainCard,
.statCard {
  border-radius: 15px;
  box-shadow: 0 4px 15px #0000000d;
  border: 1px solid var(--border-color);
}
.mainCard {
  background: var(--bg-main);
  color: var(--color-primary);
}

.card_body {
  background: var(--bg-main);
  color: var(--color-primary);
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 15px;

  .editbut {
    background: var(--bg-main);
    color: var(--color-primary);
    width: 100%;
    margin: 4px 0;
  }
}
.avatarWrapper {
  width: 100px;
  height: 100px;
  background-color: var(--bg-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.avatarIcon {
  font-size: 3rem;
}

.statIconBox {
  width: 50px;
  height: 50px;
  background-color: var(--bg-primary);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--color-primary);
}
.inputs {
  padding: 0.75rem 1rem 0.75rem 1rem;
  background: var(--bg-main);
  color: var(--color-primary);
  border: 1px solid var(--border-color);
}
.heartIcon {
  color: var(--color-primary);
  background-color: var(--bg-primary);
}

.statCard {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.statCard:hover {
  transform: translateY(-5px);
}
.Buttons {
  display: flex;
  align-items: center;
  background: var(--bg-main);
  color: var(--color-primary);
}
