.navbar_container {
  background-color: var(--bg-primary) !important;
  border-bottom: 1px solid var(--border-color) !important;
  transition: all 0.3s ease;
}

.link {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 10px;
  color: var(--color-primary) !important;
  text-transform: uppercase;
  padding: 10px 15px !important;
  transition: all 0.2s ease;
  display: block; 
}

.link:hover {
  background-color: var(--color-primary);
  color: var(--bg-primary) !important;
}
.icon_mobile{
  background-color: #ffffffc2;
  /* color: var() */
}
/*className="ms-auto [var(--color-primary)]" */
.search_container {
  display: flex;
  align-items: center;
  background-color: var(--border-color);
  padding: 6px 12px;
  border-radius: 4px;
  gap: 10px;
  margin: 10px 0; 
  width: 100%;
}

.searchInput {
  background: transparent;
  border: none;
  outline: none;
  font-size: 13px;
  color: var(--color-primary);
  width: 100%;
}

.icon_group {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  color: var(--color-primary);
  padding: 10px 0;
  
}

.icon_link {
  color: var(--color-primary);
  position: relative;
  display: flex;
  align-items: center;
}

.badge {
  color: var(--color-main);
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
}

/* أهم جزء للموبايل */
@media (min-width: 992px) {
  .search_container {
    margin: 0 15px;
    width: 180px;
  }
  .link {
    display: inline-block;
  }
  .icon_group {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .navbar_collapse_custom {
    background-color: var(--bg-primary);
    padding: 20px;
    border-top: 1px solid var(--border-color);
  }
}